@font-face {
    font-family: "segoe";
    src: url("../scss/fonts/Segoe\ UI.ttf");
}

@mixin font-link {
    font-family: segoe;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: #f1f1f1;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

//header
.header {
    height: 35rem;//50rem

    @media only screen and(max-width: 800px) {
        height: 9.4rem;
    }

    .header-img {
        height: 100%;
        background: url(../scss/hero.jpg) no-repeat;
        background-size: 100%;
    }

    .header-nav-bar {
        display: grid;
        grid-template-columns: 50% 50%;
        width: 100%;
        height: 6.5rem;
        background-color: rgba(66, 77, 84, .8);

        @media only screen and(max-width: 800px) {
            height: 1.8rem;
            grid-template-columns: 25% 75%;
        }

        .header-logo {
            text-align: center;
            margin-top: 1.8rem;

            @media only screen and(max-width: 800px) {
                margin-top: .2rem;
            }
            
            .header-logo-link {
                font-size: 1.8rem;
                @include font-link;

                @media only screen and(max-width: 800px) {
                    font-size: .8rem;
                }
            }
        }

        .header-list-box {
            position: relative;

            .header-list {
                margin-top: 2.3rem;

                @media only screen and(max-width: 800px) {
                    display: none;
                    margin-top: .4rem;
                }

                .header-item-link {
                    float: left;
                    @include font-link;
                    font-size: .8rem;
                    margin-left: .9rem;

                    @media only screen and(max-width: 800px) {
                        font-size: .6rem;
                        margin:0 .1rem 0 0;//canceld
                        font-weight: normal;
                    }

                    .header-item {
                        list-style-type: none;
                        padding: .7rem;

                        @media only screen and(max-width: 800px) {
                            padding: .1rem;
                        }
                    }

                    .header-item:not(:hover) {
                        transition: 2s;
                    }

                    .header-item:hover {
                        list-style-type: none;
                        color: #4bcaff;
                        border-color: #4bcaff;
                        border: .1rem solid;
                        transition: .7s;
                    }
                }
            }

            .header-icon-button {
                display: none;

                @media only screen and(max-width: 800px) {
                    display: initial;
                    cursor: pointer;
                }

                .header-icon-img {
                    height: 1rem;
                    width: 1rem;
                    position: absolute;
                    top: .4rem;
                    right: 1.5rem;//canceld
                }
            }
        }
    }

    .header-text {
        @include font-link;
        text-align: center;
        margin-top: 14%;
        font-weight: lighter;
        font-size: 1.8rem;
        display: grid;
        grid-template-columns: 22.5% 55% 22.5%;
        grid-row-gap: 10%;

        @media only screen and(max-width: 800px) {
            font-size: .5rem;
        }

        .header-text-top {
            grid-column: 2/3;
            background-color: rgba(66, 77, 84, .8);
            width: fit-content;
            justify-self: center;
        }

        .header-text-bottom {
            grid-column: 2/3;
            background-color: rgba(66, 77, 84, .8);
            width: fit-content;
            justify-self: center;
        }
    }
}

//services
.services {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-auto-rows: minmax(6rem, auto);
    background-color: #4bcaff;

    @media only screen and(max-width: 800px) {
        grid-auto-rows: initial;
    }

    .service-text-h1 {
        @include font-link;
        font-weight: lighter;
        font-size: 1.8rem;
        margin-top: 4rem;
        grid-column: 2/4;

        @media only screen and(max-width: 800px) {
            font-size: .8rem;
            margin-top: 2rem;
        }
    }

    .service-items-box {
        grid-column: 2/3;
        grid-row: 2/3;
        margin-top: 1.8rem;
        display: grid;
        grid-template-columns: repeat(4, auto);
        grid-auto-rows: minmax(6rem, auto);

        @media only screen and(max-width: 800px) {
            grid-row: initial;
            margin-top: 2rem;
        }

        .service-item-link {

            .service-item-img {
                @media only screen and(max-width: 800px) {
                    width: 1rem;
                    height: 1rem;
                }
            }
        }

        .service-text-h2 {
            @include font-link;
            font-weight: bold;
            font-size: 1.5rem;

            @media only screen and(max-width: 800px) {
                font-size: .6rem;
            }
        }

        .service-text-p {
            @include font-link;
            font-weight: lighter;
            font-size: .8rem;
            padding: 1rem 0;

            @media only screen and(max-width: 800px) {
                font-size: .2rem;
                padding: .4rem 0;
            }
        }
    }

    .service-items1 {
        grid-column: 1/1;
        width: 85%;
    }

    .service-items2 {
        grid-column: 2/2;
        width: 85%;
    }

    .service-items3 {
        grid-column: 3/3;
        width: 85%;
    }

    .service-items4 {
        grid-column: 4/4;
        width: 87%;
    }

    .cervice-hr {
        width: 3rem;
        grid-row: 2/3;
        height: 0;
        grid-column: 2/4;

        @media only screen and(max-width: 800px) {
            width: 1.4rem;
        }
    }
}

//portfolio
.portfolio {
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-auto-rows: minmax(6rem, auto);

    @media only screen and(max-width: 800px) {
        grid-auto-rows: initial;
    }

    .portfolio-nav-bar {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-column: 2/4;
        height: 6.5rem;

        @media only screen and(max-width: 800px) {
            grid-template-columns: 25% 75%;
            height: 4.5rem;
        }

        .portfolio-text-box {

            .portfolio-text-h1 {
                @include font-link;
                font-weight: lighter;
                font-size: 1.8rem;
                margin-top: 3rem;
                color: #515f67;
                
                @media only screen and(max-width: 800px) {
                    font-size: .8rem;
                    margin-top: 2rem;
                }
            }

            .portfolio-hr {
                width: 3.5rem;
                grid-row: 2/3;
                height: 0;
                grid-column: 2/4;
    
                @media only screen and(max-width: 800px) {
                    width: 1.4rem;
                }
            }
        }

        .portfolio-list-box {

            .portfolio-list {
                margin-top: 3rem;

                @media only screen and(max-width: 800px) {
                    margin-top: 2rem;
                }

                .portfolio-item-link {
                    float: left;
                    font-family: segoe;
                    font-weight: bold;
                    text-transform: uppercase;
                    text-decoration: none;
                    color: #69747b;
                    font-size: .8rem;
                    margin-left: .9rem;

                    @media only screen and(max-width: 800px) {
                        font-size: .5rem;
                        margin:0 .1rem 0 0;//canceld
                        font-weight: normal;
                    }

                    .portfolio-item {
                        list-style-type: none;
                        padding: .7rem;

                        @media only screen and(max-width: 800px) {
                            padding: .2rem;
                        }
                    }

                    .portfolio-item:not(:hover) {
                        transition: 2s;
                    }

                    .portfolio-item:hover {
                        list-style-type: none;
                        color: #4bcaff;
                        border: .1rem solid #4bcaff;
                        transition: .7s;
                    }
                }
            }
        }
    }

    .portfolio-img-box {
        grid-column: 2/3;
        display: grid;
        grid-template-columns: repeat(4, auto);
        grid-auto-rows: minmax(100px, auto);
        grid-gap: .5rem;
        margin-top: 1rem;

        @media only screen and(max-width: 800px) {
            grid-auto-rows: initial;
        }

        .portfolio-img-top {
            grid-row: 1/1;
            max-width: 100%;
            height: auto;
        }

        .portfolio-img-bottom {
            grid-row: 2/2;
            max-width: 100%;
            height: auto;
        }

        .portfolio-img-item {
            max-width: 100%;
            height: auto;
        }
    }
}

//default
.default {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    height: auto;
    width: 100%;
    background-color: #515f67;
    margin-top: 5rem;

    .default-box {
        grid-column: 2/3;
        display: grid;
        grid-template-columns: 47% 2% 51%;
        margin: 5rem 0;

        @media only screen and(max-width: 800px) {
            display: initial;
        }

        .default-text-box {
            grid-column: 1/2;

            .default-text-h1 {
                @include font-link;
                font-size: 1.8rem;

                @media only screen and(max-width: 800px) {
                    font-size: .8rem;
                }
            }

            .defoult-hr {
                width: 3rem;
    
                @media only screen and(max-width: 800px) {
                    width: 1.4rem;
                }
            }

            .default-text-p {
                @include font-link;
                font-weight: lighter;
                font-size: .8rem;
                padding: 1.8rem 0;
                line-height: 1.5rem;

                @media only screen and(max-width: 800px) {
                    font-size: .5rem;
                    padding: .8rem 0;
                }
            }

            .default-bottom {
                @include font-link;
                border: 1px solid #353f46; 
                padding: .5rem 1.5rem;
                color: #353f46;
                font-size: .8rem;

                @media only screen and(max-width: 800px) {
                    font-size: .5rem;
                    padding: .5rem 1.5rem;
                }
            }

            .default-bottom:not(:hover) {
                transition: 2s;
            }

            .default-bottom:hover {
                color: #4bcaff;
                border-color: #4bcaff;
                transition: .7s;
            }
        }

        .default-video-box {
            grid-column: 3/4;
            width: 100%;
            height: auto;

            @media only screen and(max-width: 800px) {
                margin-top: 1rem;
            }
        
            .default-video-item {

            }

            .default-video-item[poster] {
                object-fit: cover;
            }
        }
    }
}